* {
    font-family: Arial;
  }
  
  .bmi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding-left: 89px;
    padding-right: 89px;
    padding-top: 20px;
    padding-bottom: 20px;
  
    background-color: white;
  }
  
  .input-container {
    margin-bottom: 1rem;
    background-color: white;
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .label {
    margin-bottom: 0.5rem;
    background-color: white;
  }
  .wh {
    text-align: left;
    background-color: white;
  }
  
  .bmi {
    font-size: 18px;
    color: white;
    border: 2px solid #202996;
    background-color: #202996;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* border: 2px solid red; */
    margin-top: 30px;
  }
  
  .app-container h1 {
    margin-bottom: -0.25rem;
  }
  * {
    background-color: #e0e8fe;
  }
  
  input[type="range"] {
    width: 300px;
    background-color: gray;
  }
  h1 {
    color: white;
    border: 2px solid #202996;
    background-color: #202996;
    padding: 20px;
  }
  .slider-container {
    background-color: white;
  }
  